@import "tailwindcss";

@theme {
  --color-brand-50: #fdf4ff;
  --color-brand-100: #fae8ff;
  --color-brand-200: #f5d0fe;
  --color-brand-300: #f0abfc;
  --color-brand-400: #e879f9;
  --color-brand-500: #d946ef;
  --color-brand-600: #c026d3;
  --color-brand-700: #a21caf;
  --color-brand-800: #86198f;
  --color-brand-900: #701a75;

  --font-sans: 'Inter', sans-serif;

  --color-primary: #e86c1f;
  --color-background-light: #131313;
  --color-background-dark: #131313;
  --color-surface-dark: #1f1f1f;
  --color-card-dark: #1f1f1f;
  --color-text-gray-light: #d1d5db;

  --animate-scroll: scroll 60s linear infinite;
  --animate-spin-slow: spin 20s linear infinite;

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0a0a0a;
  color: white;
}