@import "tailwindcss";

@theme {
  --color-brand-50: #fdf4ff;
  --color-brand-100: #fae8ff;
  --color-brand-200: #f5d0fe;
  --color-brand-300: #f0abfc;
  --color-brand-400: #e879f9;
  --color-brand-500: #d946ef;
  --color-brand-600: #c026d3;
  --color-brand-700: #a21caf;
  --color-brand-800: #86198f;
  --color-brand-900: #701a75;

  --font-sans: 'Inter', sans-serif;
}

html { scroll-behavior: smooth; }
body { background-color: #0a0a0a; color: white; }
